name: autofix.ci
on:
  push:
  pull_request:
    branches: [master]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json
      - run: bun install --ignore-scripts
      - run: bun check:write
      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
